:root {
  --color-primary: #8ec6c5;
  --color-secondary: #6983aa;
  --color-tertiary: #8566aa;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-white-1: #fff;
  --color-white-2: #f4f4f4;
  --color-orange: #f1935c;
  --color-orange-bright: #de7119;
  --font-jo: 'Josefin Sans', sans-serif;
  --font-mo: 'Montserrat', sans-serif; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: var(--color-white-2);
  color: var(--color-white-2);
  font-family: var(--font-mo);
  font-weight: 400;
  line-height: 1.6;
  padding: 30px; }
  @media only screen and (max-width: 35em) {
    body {
      padding: 0; } }
  @media only screen and (max-height: 31.25em) {
    body {
      padding: 10px; } }

a {
  text-decoration: none; }

.heading-primary {
  backface-visibility: hidden;
  color: #374045;
  margin-bottom: 5rem;
  text-align: center;
  text-transform: uppercase; }
  .heading-primary--main {
    animation: moveInLeft 1s ease-out;
    display: block;
    font-family: var(--font-mo);
    font-size: 3.9vw;
    font-weight: 700;
    letter-spacing: 2rem;
    margin: 0 5rem 2rem;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        font-size: 6vw;
        letter-spacing: 1.4rem; } }
    @media only screen and (max-width: 35em) {
      .heading-primary--main {
        font-size: 3rem;
        letter-spacing: .8rem;
        margin: 0 3rem 2rem; } }
    @media only screen and (max-width: 25em) {
      .heading-primary--main {
        font-size: 2.7rem;
        letter-spacing: .4rem;
        margin: 0 1rem 1rem; } }
    @media only screen and (max-height: 31.25em) {
      .heading-primary--main {
        font-size: 3.5rem;
        letter-spacing: .4rem;
        margin: 0 1rem 1rem; } }
  .heading-primary--sub {
    animation: moveInRight 1s ease-out;
    display: block;
    font-family: var(--font-mo);
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 0.5rem;
    line-height: 2; }
    @media only screen and (max-width: 35em) {
      .heading-primary--sub {
        font-size: 1.3rem;
        letter-spacing: .2rem;
        margin: 0 2rem; } }
    @media only screen and (max-width: 25em) {
      .heading-primary--sub {
        font-size: 1.3rem;
        letter-spacing: .2rem;
        line-height: 1.5;
        margin: 2.5rem 4rem 0; } }
    @media only screen and (max-height: 31.25em) {
      .heading-primary--sub {
        font-size: 1.4rem;
        letter-spacing: .4rem;
        margin: 0 1rem 1rem; } }

.footer-primary {
  backface-visibility: hidden;
  text-transform: uppercase; }
  .footer-primary--main {
    display: block;
    font-family: var(--font-mo);
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .footer-primary--main {
        font-size: 3rem;
        letter-spacing: .5rem; } }
    @media only screen and (max-width: 35em) {
      .footer-primary--main {
        font-size: 2rem;
        letter-spacing: .5rem; } }
    @media only screen and (max-width: 25em) {
      .footer-primary--main {
        font-size: 1.7rem;
        letter-spacing: .4rem; } }
  .footer-primary--sub {
    display: block;
    font-family: var(--font-mo);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    line-height: 2; }
    @media only screen and (max-width: 35em) {
      .footer-primary--sub {
        margin-top: 2rem;
        font-size: 1rem;
        letter-spacing: 0.2rem; } }

.section-heading {
  color: var(--color-secondary);
  display: block;
  font-family: var(--font-jo);
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase; }
  .section-heading h1 {
    font-size: 4rem; }
    @media only screen and (max-width: 35em) {
      .section-heading h1 {
        font-size: 2.8rem; } }

.footer__button, .footer__button:link, .footer__button:visited {
  background: transparent;
  border: none;
  color: var(--color-secondary);
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 3rem 1.5rem;
  outline: none;
  padding: 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s; }
  @media only screen and (max-width: 35em) {
    .footer__button, .footer__button:link, .footer__button:visited {
      font-size: 1.1rem;
      font-weight: 200;
      margin: 2rem .5rem;
      padding: 5px; } }
  @media only screen and (max-width: 35em) {
    .footer__button, .footer__button:link, .footer__button:visited {
      font-size: 1rem;
      font-weight: 200;
      margin: 2rem .3rem;
      padding: 3px; } }

.footer__button:before {
  content: "";
  border-bottom: 2px solid var(--color-secondary);
  padding: 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  transition: 0.3s; }

.footer__button:hover:before {
  width: 90%;
  padding: 0; }

.footer__button:active {
  background: var(--color-secondary);
  border-radius: 10px;
  color: white;
  transition: none; }

.footer__button--live {
  font-weight: 500; }

.btn, .btn:link, .btn:visited {
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  display: inline-block;
  margin: 0 1.5rem;
  padding: 1.5rem 4rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s; }
  /* @media only screen and (max-width: 56.25em) {
    .btn, .btn:link, .btn:visited {
      margin: 2rem 1rem;
      padding: 1rem 2rem; } } */
  @media only screen and (max-width: 35em) {
    .btn, .btn:link, .btn:visited {
      margin: .5rem .5rem 1rem;
      padding: .8rem 1.5rem; } }
  @media only screen and (max-width: 25em) {
    .btn, .btn:link, .btn:visited {
      margin: .5rem .5rem .8rem;
      padding: .6rem 1rem; } }

.btn:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px); }
  .btn:hover::after {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6); }

.btn:active, .btn:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
  transform: translateY(-1px); }

.btn::after {
  border-radius: 10rem;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all .4s;
  width: 100%;
  z-index: -1; }

.btn--orange {
  background-color: #374045 ;
  color: var(--color-white-2); }
  .btn--orange::after {
    background-color: #374045 ; }

.btn--bright {
  background-color: var(--color-orange-bright);
  color: var(--color-white-2); }
  .btn--bright::after {
    background-color: var(--color-orange-bright); }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn--text {
  font-size: 1.5rem; }
  @media only screen and (max-width: 56.25em) {
    .btn--text {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 35em) {
    .btn--text {
      font-size: .9rem; } }
  @media only screen and (max-width: 25em) {
    .btn--text {
      font-size: .7rem; } }

.listen-live__section {
  height: 40rem;
  padding: 3rem 0;
  position: relative; }
  @media only screen and (max-width: 35em) {
    .listen-live__section {
      height: 35vh;} }
  .listen-live__section--wrapper {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
  .listen-live__section--player {
    border: 2px solid var(--color-secondary);
    height: 18rem;
    margin: 4rem 2rem;
    padding: 1rem;
    width: 60vw; }
    @media only screen and (max-width: 35em) {
      .listen-live__section--player {
        margin: 4rem 0.5rem;
        padding: 0.5rem;
        width: 90vw; } }
  .listen-live__section--link {
    color: var(--color-secondary);
    cursor: pointer;
    display: block;
    font-family: var(--font-jo);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
    @media only screen and (max-width: 35em) {
      .listen-live__section--link {
        display: none } }
  
  #mixlr_player .player__info.user__icon {
    display: none;
  }

/* CONTACT FORM STYLES */
.contact-section {
  background-image: linear-gradient(to right bottom, rgba(105, 131, 170, 0.8), rgba(1, 86, 104, 0.8)), url(/img/northenden_map.png);
  background-size: cover;
  height: 96vh;
  margin: 10rem 0 0;
  position: relative; }
  @media only screen and (max-width: 35em) {
    .contact-section {
      margin: 0;
      padding: 0; } }
  @media only screen and (max-height: 31.25em) {
    .contact-section {
      height: 200vh; } }
  .contact-section__heading {
    color: var(--color-white-1);
    display: block;
    font-family: var(--font-jo);
    font-size: 2rem;
    margin-bottom: 4rem;
    opacity: 0.8;
    text-align: center;
    text-transform: uppercase; }
    @media only screen and (max-width: 35em) {
      .contact-section__heading {
        font-size: 1.5rem; } }
  .contact-section__form {
    background: var(--color-grey-light-3);
    border-radius: 8px;
    box-shadow: 0 0 4rem -1rem #000;
    font-family: var(--font-mo), sans-serif;
    height: 44rem;
    left: 50%;
    padding: 2rem 3rem;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 34rem; }
    @media only screen and (max-width: 35em) {
      .contact-section__form {
        top: 58%;
        width: 30rem; } }
    @media only screen and (max-width: 25em) {
      .contact-section__form {
        height: 34rem;
        padding: 1rem 1.5rem;
        width: 25rem; } }
    .contact-section__form input {
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;
      background: none;
      outline: none;
      resize: none;
      border: 0;
      font-family: var(--font-mo), sans-serif;
      transition: all .3s; }
      @media only screen and (max-width: 35em) {
        .contact-section__form input {
          font-size: 1rem; } }
      .contact-section__form input:not(.submit) {
        border-bottom: 2px solid #bebed2; }
      .contact-section__form input:focus {
        border-bottom: 2px solid var(--color-secondary); }
    .contact-section__form p:before {
      content: attr(type);
      display: block;
      margin: 2.8rem 0 0;
      font-size: 1.5rem;
      color: var(--color-secondary); }
      @media only screen and (max-width: 25em) {
        .contact-section__form p:before {
          margin: .8rem 0 0;
          font-size: 1.1rem; } }
    .contact-section__form button {
      color: var(--color-secondary);
      float: right;
      padding: 1rem 1.2rem;
      margin: 1.5rem 0 0;
      font-family: var(--font-mo), sans-serif;
      border: 2px solid var(--color-secondary);
      background: 0;
      cursor: pointer;
      transition: all .3s; }
    .contact-section__form button:hover {
      background: var(--color-secondary);
      color: var(--color-white-1); }
    .contact-section__form div {
      content: 'Hi';
      position: absolute;
      bottom: -1.5rem;
      right: -2rem;
      background: var(--color-secondary);
      color: var(--color-white-1);
      width: 34rem;
      padding: 1.6rem .4rem 1.6rem 0;
      border-radius: .6rem;
      font-size: 1.3rem;
      box-shadow: 1rem 1rem 4rem -1.4rem #000; }
      @media only screen and (max-width: 35em) {
        .contact-section__form div {
          font-size: 1.1rem;
          width: 28rem; } }
    .contact-section__form a {
      color: var(--color-white-1);
      text-decoration: none; }
      .contact-section__form a:hover {
        color: var(--color-orange); }
        .contact-section__form a:hover span {
          color: var(--color-white-1);
          border-bottom: 2px solid var(--color-orange); }
    .contact-section__form i {
      margin: 0 0.5rem 0 1.5rem;
      transition: .8s; }
      .contact-section__form i:hover {
        transform: rotateY(360deg); }
    .contact-section__form span:hover {
      color: var(--color-white-1);
      border-bottom: 2px solid var(--color-orange); }
  .contact-section__text-box {
    border-bottom: 3px solid var(--color-secondary);
    color: var(--color-secondary);
    margin: 1rem 0;
    padding-bottom: 1rem;
    width: 18rem; }

.submit {
  color: var(--color-secondary);
  font-family: var(--font-mo); }
  .submit:hover {
    color: var(--color-white-1); }

/* ============= Begin Testimonial Flexbox ============ */
#flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 700px;
  height: 48.5rem;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }
  @media only screen and (max-width: 35em) {
    #flex-container {
      min-width: 300px;
      max-width: 380px; } }
  @media only screen and (max-width: 25em) {
    #flex-container {
      min-width: 260px;
      max-width: 290px; } }
  @media only screen and (max-height: 31.25em) {
    #flex-container {
      max-height: 300px;
      min-width: 300px;
      max-width: 500px; } }

#left-zone {
  background-color: var(--color-white-2);
  height: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  width: 100%; }
  @media only screen and (max-height: 31.25em) {
    #left-zone {
      margin: 0 0; } }
  #left-zone h2 {
    display: none; }
    @media only screen and (max-width: 35em) {
      #left-zone h2 {
        color: var(--color-secondary);
        display: initial;
        font-family: var(--font-jo);
        font-size: 2.3rem;
        font-weight: 200;
        left: 50%;
        line-height: 1.8;
        margin: 0 auto;
        position: relative;
        top: 60%;
        text-align: center;
        transform: translate(-50%, -50%);
        min-width: 250px; } }

#left-zone .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.item input {
  display: none; }

.item label {
  color: var(--color-secondary);
  display: block;
  font-family: var(--font-mo);
  font-size: 1.4rem;
  font-weight: 500;
  height: 55px;
  text-align: left;
  text-indent: 8rem;
  line-height: 55px;
  margin-top: 0.5rem;
  opacity: 0.8;
  position: relative; }
  @media only screen and (max-height: 31.25em) {
    .item label {
      font-size: 1.1rem;
      height: 35px;
      line-height: 35px;
      margin-top: 0; } }
  @media only screen and (max-width: 35em) {
    .item label {
      visibility: hidden; } }

.mobile-input-section__list {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .mobile-input-section__list {
      display: flex;
      flex-direction: row;
      list-style: none; } }

.mobile-input-section__item input {
  border-right: none;
  display: none; }
  .mobile-input-section__item input:checked ~ label {
    animation: none;
    border-right: none; }

@media only screen and (max-width: 56.25em) {
  .mobile-input-section__item label {
    display: none; } }

@media only screen and (max-width: 35em) {
  .mobile-input-section__item label {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-white-1);
    display: block;
    font-family: var(--font-mo);
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin: .5rem .8rem 4rem;
    opacity: 1;
    padding: .5rem 1rem; } }

@media only screen and (max-width: 25em) {
  .mobile-input-section__item label {
    font-size: 1rem;
    margin: .5rem .5rem 4rem;
    padding: .5rem .8rem; } }

.mobile-input-section__item label:hover {
  background-image: none;
  font-size: 1rem;
  transition: none; }

.item label:hover {
  cursor: pointer;
  opacity: 1; }

.content-test {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  height: 60%;
  width: 100%;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  pointer-events: none; }
  @media only screen and (max-width: 35em) {
    .content-test {
      height: 100%; } }
  .content-test-horiz {
    display: flex;
    flex-direction: row; }
    @media only screen and (max-width: 35em) {
      .content-test-horiz {
        flex-direction: column; } }
    .content-test-horiz-sub {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 1rem; }

.content-test p {
  color: var(--color-grey-light-3);
  font-family: var(--font-mo);
  font-size: 1.15rem;
  line-height: 1.6;
  padding: 1rem 0;
  max-width: 60%;
  text-align: center; }
  @media only screen and (max-height: 31.25em) {
    .content-test p {
      font-size: 1.15rem;
      max-width: 84%; } }
  @media only screen and (max-width: 35em) {
    .content-test p {
      font-size: 1.15rem;
      max-width: 84%; } }

.content-test h1 {
  color: var(--color-white-2);
  font-family: var(font-jo);
  text-align: center; }
  @media only screen and (max-height: 31.25em) {
    .content-test h1 {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 35em) {
    .content-test h1 {
      font-size: 1.8rem; } }

.content-test-horiz-sub p {
  max-width: 75%; }
  @media only screen and (max-width: 35em) {
    .content-test-horiz-sub p {
      font-size: 1.15rem;
      max-width: 88%; } }
  @media only screen and (max-height: 31.25em) {
    .content-test-horiz-sub p {
      font-size: .95rem;
      max-width: 90%; } }

.content-test-horiz-sub h1 {
  font-size: 1.5rem; }
  @media only screen and (max-height: 31.25em) {
    .content-test-horiz-sub h1 {
      font-size: 1.1rem;
      font-weight: 400; } }

#right-zone {
  background-color: var(--color-grey-dark-3);
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  z-index: -2; }
  #right-zone h1 {
    color: #fff;
    font-family: var(--font-jo);
    font-size: 3rem;
    font-weight: 100;
    left: 50%;
    position: relative;
    top: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 80%; }
    @media only screen and (max-height: 31.25em) {
      #right-zone h1 {
        font-size: 2.2rem; } }

input:checked ~ .content-test {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  opacity: 1; }

@media (min-width: 480px) {
  #flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: auto; }
  #left-zone .list {
    border-right: 2px solid #cccccc; }
  .content-test {
    width: 65%;
    height: 100%;
    pointer-events: auto;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
  #left-zone {
    width: 35%; }
  #right-zone {
    height: 100%;
    width: 65%; } }

/* If the screen size is 480px or less */
@media (max-width: 480px) {
  .content_testimonial-1 .picto {
    padding-top: 100px; }
  .content_testimonial-2 .picto {
    padding-top: 100px; }
  .content_testimonial-3 .picto {
    padding-top: 100px; }
  .content_testimonial-4 .picto {
    padding-top: 100px; }
  .content_testimonial-5 .picto {
    padding-top: 100px; }
  .content_testimonial-6 .picto {
    padding-top: 100px; }
  .content_testimonial-7 .picto {
    padding-top: 100px; }
  .item > label {
    font-size: 1.3rem; } }

.picto, .picto-sub {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 3rem; }
  @media only screen and (max-height: 31.25em) {
    .picto, .picto-sub {
      height: 90px;
      margin: 0 0 2rem;
      width: 90px; } }

@media only screen and (max-width: 35em) {
  .content-test-horiz-sub .picto {
    height: 100px;
    width: 100px; } }

@media only screen and (max-height: 31.25em) {
  .picto-sub {
    height: 90px;
    margin: 0 0 2rem;
    width: 90px; } }

@media only screen and (max-width: 35em) {
  .picto-sub {
    height: 0;
    margin: 0;
    width: 0; } }

.content_testimonial-1 {
  background-color: var(--color-secondary); }
  .content_testimonial-1 .picto {
    background-image: url("/img/logo-transparent.png"); }

.content_testimonial-2 {
  background-color: var(--color-primary); }
  .content_testimonial-2 .picto {
    background-image: url("/img/logo-transparent.png"); }

.content_testimonial-3 {
  background-color: #ba6b57; }
  .content_testimonial-3 .picto {
    background-image: url("/img/logo-transparent.png"); }

.content_testimonial-4 {
  background-color: var(--color-orange); }
  .content_testimonial-4 .picto {
    background-image: url("/img/logo-transparent.png"); }

.content_testimonial-5 {
  background-color: #fecb89; }
  .content_testimonial-5 .picto {
    background-color: var(--color-primary);
    background-image: url("/img/mick_transparent.png"); }

.content_testimonial-6 {
  background-color: #4f8a8b; }
  .content_testimonial-6 .picto {
    background-image: url("/img/logo-transparent.png"); }
  .content_testimonial-6 .picto-sub {
    background-image: url("/img/dan.jpg"); }

.content_testimonial-7 {
  background-color: #c06c84; }
  .content_testimonial-7 .picto {
    background-color: #fecb89;
    background-image: url("/img/hayley-transparent.png"); }

.content-test h1:first-letter {
  text-transform: uppercase; }

input:checked ~ label {
  opacity: 1;
  -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

input:checked ~ label.label_testimonial-1 {
  color: var(--color-secondary);
  border-right: solid 4px var(--color-secondary); }

input:checked ~ label.label_testimonial-2 {
  color: var(--color-primary);
  border-right: solid 4px var(--color-primary); }

input:checked ~ label.label_testimonial-3 {
  color: #ba6b57;
  border-right: solid 4px #ba6b57; }

input:checked ~ label.label_testimonial-4 {
  color: var(--color-orange);
  border-right: solid 4px var(--color-orange); }

input:checked ~ label.label_testimonial-5 {
  color: #fecb89;
  border-right: solid 4px #fecb89; }

input:checked ~ label.label_testimonial-6 {
  color: #4f8a8b;
  border-right: solid 4px #4f8a8b; }

input:checked ~ label.label_testimonial-7 {
  color: #c06c84;
  border-right: solid 4px #c06c84; }

label:before {
  content: " ";
  display: block;
  font-family: var(--font-mo);
  font-weight: 400;
  position: absolute;
  width: 45px;
  height: 45px;
  margin-left: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%; }
  @media only screen and (max-width: 35em) {
    label:before {
      visibility: hidden; } }
  @media only screen and (max-height: 31.25em) {
    label:before {
      width: 30px;
      height: 30px;
      margin-left: 10px; } }

.label_testimonial-1:before {
  background-color: var(--color-secondary);
  background-image: url("/img/heron-2.png"); }
  @media only screen and (max-width: 35em) {
    .label_testimonial-1:before {
      visibility: hidden; } }

.label_testimonial-2:before {
  background-color: var(--color-primary);
  background-image: url("/img/heron-2.png"); }
  @media only screen and (max-width: 35em) {
    .label_testimonial-2:before {
      visibility: hidden; } }

.label_testimonial-3:before {
  background-color: #ba6b57;
  background-image: url("/img/heron-2.png"); }
  @media only screen and (max-width: 35em) {
    .label_testimonial-3:before {
      visibility: hidden; } }

.label_testimonial-4:before {
  background-color: var(--color-orange);
  background-image: url("/img/heron-2.png"); }
  @media only screen and (max-width: 35em) {
    .label_testimonial-4:before {
      visibility: hidden; } }

.label_testimonial-5:before {
  background-color: #fecb89;
  background-image: url("/img/mick_transparent.png"); }
  @media only screen and (max-width: 35em) {
    .label_testimonial-5:before {
      visibility: hidden; } }

.label_testimonial-6:before {
  background-color: #4f8a8b;
  background-image: url("/img/dan_transp2.png"); }
  @media only screen and (max-width: 35em) {
    .label_testimonial-6:before {
      visibility: hidden; } }

label.label_testimonial-7:before {
  background-color: #c06c84;
  background-image: url("/img/hayley-transparent.png"); }
  @media only screen and (max-width: 35em) {
    label.label_testimonial-7:before {
      visibility: hidden; } }

label:first-letter {
  text-transform: uppercase; }

.label_testimonial-1:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(var(--color-secondary)));
  background-image: -webkit-linear-gradient(left, #ffffff, var(--color-secondary));
  background-image: -o-linear-gradient(left, #ffffff, var(--color-secondary));
  background-image: linear-gradient(to right, #ffffff, var(--color-secondary));
  font-size: 1.4rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s; }

.label_testimonial-2:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(var(--color-primary)));
  background-image: -webkit-linear-gradient(left, #ffffff, var(--color-primary));
  background-image: -o-linear-gradient(left, #ffffff, var(--color-primary));
  background-image: linear-gradient(to right, #ffffff, var(--color-primary));
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s; }

.label_testimonial-3:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ba6b57));
  background-image: -webkit-linear-gradient(left, #ffffff, #ba6b57);
  background-image: -o-linear-gradient(left, #ffffff, #ba6b57);
  background-image: linear-gradient(to right, #ffffff, #ba6b57);
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s; }

.label_testimonial-4:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(var(--color-orange)));
  background-image: -webkit-linear-gradient(left, #ffffff, var(--color-orange));
  background-image: -o-linear-gradient(left, #ffffff, var(--color-orange));
  background-image: linear-gradient(to right, #ffffff, var(--color-orange));
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s; }

.label_testimonial-5:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#fecb89));
  background-image: -webkit-linear-gradient(left, #ffffff, #fecb89);
  background-image: -o-linear-gradient(left, #ffffff, #fecb89);
  background-image: linear-gradient(to right, #ffffff, #fecb89);
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s; }

.label_testimonial-6:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#4f8a8b));
  background-image: -webkit-linear-gradient(left, #ffffff, #4f8a8b);
  background-image: -o-linear-gradient(left, #ffffff, #4f8a8b);
  background-image: linear-gradient(to right, #ffffff, #4f8a8b);
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s; }

.label_testimonial-7:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#c06c84 #c06c84));
  background-image: -webkit-linear-gradient(left, #ffffff, #c06c84);
  background-image: -o-linear-gradient(left, #ffffff, #c06c84);
  background-image: linear-gradient(to right, #ffffff, #c06c84);
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s; }

/* ============== End Testimonial Flexbox ============= */
.header {
  background-image: linear-gradient(to right bottom, rgba(142, 198, 197, 0.7), rgba(105, 131, 170, 0.7));
  background-position: center;
  background-size: cover;
  height: 92vh;
  position: relative; }
  @media only screen and (max-width: 35em) {
    .header {
      height: 60vh;
      margin: 20px; } }
  .header__text-box {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .header__text-box {
        top: 42%; } }
    @media only screen and (max-width: 35em) {
      .header__text-box {
        top: 38%; } }
  .header__buttons {
    left: 50%;
    padding: 0 3rem;
    position: absolute;
    top: 130%;
    transform: translate(-50%, -50%);
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .header__buttons {
        top: 110%; } }
    @media only screen and (max-width: 35em) {
      .header__buttons {
        margin-top: 2rem;
        top: 115%; } }
    @media only screen and (max-width: 25em) {
      .header__buttons {
        top: 105%; } }
    @media only screen and (max-height: 31.25em) {
      .header__buttons {
        top: 95%; } }
  .header__logo-box {
    left: 37%;
    position: absolute;
    top: 62%;
    transform: translate(-50%, -50%);
    z-index: 2; }
  .header__logo-home {
    position: relative; }
  .header__logo {
    height: 4vw; }
    @media only screen and (max-width: 56.25) {
      .header__logo {
        height: 6rem; } }
    @media only screen and (max-width: 35em) {
      .header__logo {
        height: 3.5rem; } }
    @media only screen and (max-width: 25em) {
      .header__logo {
        height: 3rem; } }
    @media only screen and (max-height: 31.25em) {
      .header__logo {
        height: 4rem; } }
  .header__social-icons {
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; }
    /* @media only screen and (max-width: 68.75em) {
      .header__social-icons {
        top: 200%; } } */
    @media only screen and (max-width: 56.25em) {
      .header__social-icons {
        top: 160%; } }
    @media only screen and (max-width: 35em) {
      .header__social-icons {
        top: 150%; } }
    @media only screen and (max-width: 25em) {
      .header__social-icons {
        top: 135%; } }
    @media only screen and (max-height: 31.25em) {
      .header__social-icons {
        top: 145%; } }
    .header__social-icons li {
      list-style: none; }
      .header__social-icons li a {
        background-color: #374045 ;
        border-radius: 50%;
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 23px;
        color: #fff;
        font-weight: bold;
        margin: 0 1rem;
        opacity: 0.8; }
        @media only screen and (max-width: 35em) {
          .header__social-icons li a {
            font-size: 1.5rem;
            height: 40px;
            line-height: 40px;
            opacity: 1;
            width: 40px; } }
        @media only screen and (max-width: 25em) {
          .header__social-icons li a {
            font-size: 1.5rem;
            height: 35px;
            line-height: 35px;
            opacity: 1;
            width: 35px; } }
        @media only screen and (max-height: 31.25em) {
          .header__social-icons li a {
            font-size: 1.5rem;
            height: 35px;
            line-height: 35px;
            opacity: 1;
            width: 35px; } }
        .header__social-icons li a:hover {
          opacity: 1; }
        .header__social-icons li a .fab {
          transition: .8s; }
          .header__social-icons li a .fab:hover {
            transform: rotateY(360deg);
            color: #fff; }

.card:hover .social-icons li a {
  border-radius: 50%;
  transform: translateY(0px);
  opacity: 1; }

.social-icons li a:hover {
  background: var(--color-orange);
  transition: .1s; }
  .social-icons li a:hover .fab {
    color: var(--color-grey-light-1); }

.footer {
  background-color: var(--color-grey-light-3);
  height: 48rem;
  position: relative; }
  @media only screen and (max-width: 68.75em) {
    .footer {
      height: 40rem; } }
  @media only screen and (max-width: 35em) {
    .footer {
      margin-top: 3rem; } }
  .footer__text-box {
    color: var(--color-secondary);
    left: 50%;
    margin: 3rem 0 0;
    position: absolute;
    text-align: center;
    top: 15%;
    transform: translate(-50%, -50%);
    width: 100%; }
  .footer__supporter-logo {
    left: 50%;
    position: absolute;
    top: 170%;
    transform: translate(-50%, -50%);
    width: 100%; }
    .footer__supporter-logo a img {
      margin: 2rem 1rem;
      height: 4rem; }
      @media only screen and (max-width: 35em) {
        .footer__supporter-logo a img {
          height: 2rem;
          margin: 2rem 0.5rem; } }
  .footer__buttons {
    left: 50%;
    margin: 2rem 0;
    position: absolute;
    top: 230%;
    transform: translate(-50%, -50%);
    width: 100%; }
  .footer__logo-box {
    left: 37%;
    position: absolute;
    top: 62%;
    transform: translate(-50%, -50%);
    z-index: 2; }
  .footer__logo-home {
    position: relative; }
  .footer__logo {
    height: 6rem; }
    @media only screen and (max-width: 35em) {
      .footer__logo {
        height: 4rem; } }
    @media only screen and (max-width: 25em) {
      .footer__logo {
        height: 3rem; } }
  .footer__social-icons {
    position: absolute;
    top: 340%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; }
    .footer__social-icons li {
      list-style: none; }
      .footer__social-icons li a {
        background-color: var(--color-secondary);
        border-radius: 50%;
        position: relative;
        display: block;
        width: 4.5rem;
        height: 4.5rem;
        line-height: 50px;
        text-align: center;
        font-size: 1.8rem;
        color: #fff;
        font-weight: bold;
        margin: 0 1rem;
        opacity: 0.8; }
        .footer__social-icons li a:hover {
          background-color: var(--color-secondary);
          opacity: 1; }
        .footer__social-icons li a .fab {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: .8s; }
          .footer__social-icons li a .fab:hover {
            color: #fff; }
  .footer__copyright {
    color: var(--color-secondary);
    font-family: var(--font-mo);
    font-size: 1.2rem;
    font-weight: 100;
    left: 50%;
    margin: 2rem 0 0;
    position: absolute;
    top: 400%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 35em) {
      .footer__copyright {
        font-size: .8rem; } }
    @media only screen and (max-width: 25em) {
      .footer__copyright {
        font-size: .6rem;
        width: 100%; } }

.navigation__checkbox {
  display: none; }

.navigation__logo {
  background-image: url('/img/logo.png');
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 7rem;
  position: absolute;
  left: 6rem;
  top: 6rem;
  width: 7rem;
  z-index: 2000; }
  @media only screen and (max-width: 35em) {
    .navigation__logo {
      height: 5rem;
      left: 4.5rem;
      top: 4.5rem;
      width: 5rem; } }
  @media only screen and (max-width: 25em) {
    .navigation__logo {
      height: 4.2rem;
      left: 3rem;
      top: 3rem;
      width: 4.2rem; } }
  @media only screen and (max-height: 31.25em) {
    .navigation__logo {
      height: 3.5rem;
      left: 2.5rem;
      top: 2.5rem;
      width: 3.5rem; } }

.navigation__button {
  background-color: var(--color-white-2);
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 7rem;
  position: fixed;
  right: 6rem;
  text-align: center;
  top: 6rem;
  width: 7rem;
  z-index: 2000; }
  @media only screen and (max-width: 35em) {
    .navigation__button {
      height: 5rem;
      right: 4.5rem;
      top: 4.5rem;
      width: 5rem; } }
  @media only screen and (max-width: 25em) {
    .navigation__button {
      height: 4.2rem;
      right: 3rem;
      top: 3rem;
      width: 4.2rem; } }
  @media only screen and (max-height: 31.25em) {
    .navigation__button {
      height: 3.5rem;
      right: 2.5rem;
      top: 2.5rem;
      width: 3.5rem; } }

.navigation__background {
  background-image: linear-gradient(to right bottom, #8ec6c5, #6983aa);
  border-radius: 50%;
  height: 6rem;
  position: fixed;
  right: 6.5rem;
  top: 6.5rem;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  width: 6rem;
  z-index: 1000; }
  @media only screen and (max-width: 35em) {
    .navigation__background {
      height: 5rem;
      width: 5rem;
      right: 4.5rem;
      top: 4.5rem; } }
  @media only screen and (max-width: 25em) {
    .navigation__background {
      height: 4.2rem;
      right: 3rem;
      top: 3rem;
      width: 4.2rem; } }
  @media only screen and (max-height: 31.25em) {
    .navigation__background {
      height: 3.5rem;
      right: 2.5rem;
      top: 2.5rem;
      width: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  width: 0;
  z-index: -1500; }

.navigation__list {
  left: 50%;
  list-style: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-white-2) 50%);
  background-size: 220%;
  color: var(--color-white-2);
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .4s; }
  @media only screen and (max-height: 31.25em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 1.8rem;
      padding: 0.5rem 2rem; } }
  @media only screen and (max-width: 35em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 2rem; } }
  @media only screen and (max-width: 25em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 1.8rem; } }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem; }

.navigation__link:active, .navigation__link:hover {
  background-position: 100%;
  color: var(--color-secondary);
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  z-index: 1500; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 35em) {
    .navigation__icon {
      margin-top: 2.5rem; } }
  @media only screen and (max-width: 25em) {
    .navigation__icon {
      margin-top: 2rem; } }
  @media only screen and (max-height: 31.25em) {
    .navigation__icon {
      margin-top: 1.8rem; } }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    background-color: var(--color-grey-dark-2);
    display: inline-block;
    height: 2px;
    width: 3rem; }
    @media only screen and (max-width: 35em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 2rem; } }
    @media only screen and (max-width: 25em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 2rem; } }
    @media only screen and (max-height: 31.25em) {
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 1.7rem; } }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    left: 0;
    position: absolute;
    transition: all .2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.about-section {
  display: flex;
  padding: 2rem; }
  @media only screen and (max-width: 35em) {
    .about-section {
      padding: 5rem 2rem; } }
  .about-section__container {
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .about-section__container {
        flex-direction: column; } }
  .about-section__image {
    background-image: url(../../img/about_us.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    flex: 1 1 35%;
    margin: 0 2rem 5rem 8rem;
    opacity: 0.8; }
    @media only screen and (max-width: 56.25em) {
      .about-section__image {
        flex: 1 1 55vh;
        margin: 0; } }
    @media only screen and (max-height: 31.25em) {
      .about-section__image {
        background-image: url(../../img/sanny.jpg);
        background-size: cover;
        flex: 1 1 70vh;
        margin: 0 auto;
        width: 50vw; } }
  .about-section__text-box {
    color: var(--color-secondary);
    flex: 1 1 65%;
    padding: 0 8rem 3rem 6rem; }
    @media only screen and (max-width: 56.25em) {
      .about-section__text-box {
        flex: 1;
        padding: 2rem; } }
    .about-section__text-box--paragraph {
      font-family: var(--font-mo);
      font-size: 1.7rem;
      font-weight: 300;
      line-height: 1.8;
      padding: 1rem 0;
      text-align: left; }
      @media only screen and (max-width: 35em) {
        .about-section__text-box--paragraph {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.6;
          text-align: justify; } }
    .about-section__text-box--heading {
      font-family: var(--font-jo);
      font-size: 3rem;
      line-height: 1.8;
      padding: 1rem 0;
      text-align: justify; }
      @media only screen and (max-width: 56.25em) {
        .about-section__text-box--heading {
          text-align: center; } }
  .about-section__logo {
    height: 18rem;
    margin: 0 auto 6rem;
    width: 18rem;}
    @media only screen and (max-width: 35em) {
      .about-section__logo {
        margin: -1rem auto 2rem;}}

.presenter-section__container {
  max-width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0rem auto 4rem; }
  @media only screen and (max-width: 35em) {
    .presenter-section__container {
      align-items: center;
      justify-content: center;
      max-width: 95vw;
      flex-direction: column;
      flex-wrap: nowrap; } }

.card-wrapper {
  width: 400px;
  height: 500px;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .card-wrapper {
      height: 420px;
      width: 320px; } }
  @media only screen and (max-width: 35em) {
    .card-wrapper {
      flex: 1 1 400px;
      overflow: hidden;
      width: 300px; } }

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 450px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  /* cursor: pointer; */
  transition: 0.5s; }
  @media only screen and (max-width: 56.25em) {
    .card {
      height: 360px;
      width: 260px; } }
  .card .card-image {
    background-position: center;
    background-size: cover;
    height: 60%;
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 44%;
    transform: translate(-50%, -50%);
    transition: .5s;
    width: 100%;
    z-index: -1; }
    @media only screen and (max-width: 56.25em) {
      .card .card-image {
        height: 50%;
        left: 50%;
        opacity: 0.7;
        top: 31%; } }
    .card .card-image__sanny {
      background-image: url(/img/sanny_transparent.png);
      width: 100%; }
    .card .card-image__katie {
      background-image: url(/img/katie_transparent.png); }
    .card .card-image__hayley {
      background-image: url(/img/hayley-transparent.png);
      left: 38%;
      width: 80%;}
      @media only screen and (max-width: 56.25em) {
        .card .card-image__hayley {
          height: 60%;
          width: 200px; } }
    .card .card-image__emma {
      background-image: url(/img/emma2-transparent2.png);
      background-position: top;
      background-size: cover;
      height: 70%}
      @media only screen and (max-width: 56.25em) {
        .card .card-image__emma {
          height: 50%;
          width: 200px; } }
    .card .card-image__dan {
      background-image: url(/img/dan_transp2.png);
      left: 35%;
      height: 80%; }
      @media only screen and (max-width: 56.25em) {
        .card .card-image__dan {
          height: 70%; } }
    .card .card-image__claire {
      background-image: url(/img/claire_transparent.png);}
    .card .card-image__marie {
      background-image: url(/img/marie_transparent.png);
      background-position: top;
      height: 70%;}
      @media only screen and (max-width: 56.25em) {
        .card .card-image__marie {
          height: 60%; } }
    .card .card-image__mick {
      background-image: url(/img/mick_transparent.png);}
    .card .card-image__charlie {
      background-image: url(/img/charlie_transparent.png);
      background-position: top;
      height: 75%;}
    .card .card-image__melanie {
      background-image: url(/img/silhouette-woman.png);}
    .card .card-image__kevin {
      background-image: url(/img/kev_transp.png);}

.card:hover .card-image {
  opacity: 0.4;
  transform: translate(-10%, -50%);
  transition: all .9s; }
  .card:hover .card-image__hayley,
  .card:hover .card-image__kevin {
    transform: translate(-90%, -50%);}
  @media only screen and (max-width: 56.25em) {
    .card:hover .card-image {
      opacity: 0.7;
      transform: translate(-50%, -50%);
      transition: none; } }

/**** Social Icons *****/
.social-icons {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .social-icons {
      left: 50%;
      top: 64%; } }
  .social-icons li {
    list-style: none; }
    .social-icons li a {
      border-radius: 50%;
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 23px;
      color: #fff;
      font-weight: bold;
      margin: 0 6px;
      transition: .4s;
      transform: translateY(200px);
      opacity: 0; }
      @media only screen and (max-width: 56.25em) {
        .social-icons li a {
          font-size: 18px;
          line-height: 45px;
          opacity: .8;
          transform: translateY(0px);
          width: 40px;
          height: 40px; } }
  .social-icons__sanny li a,
  .social-icons__charlie li a {
    background: var(--color-secondary); }
    @media only screen and (max-width: 56.25em) {
      .social-icons__sanny li a, 
      .social-icons__charlie li a {
        background: var(--color-orange); } }
  .social-icons__katie li a,
  .social-icons__marie li a  {
    background: var(--color-primary); }
    @media only screen and (max-width: 56.25em) {
      .social-icons__katie li a,
      .social-icons__marie li a  {
        background: var(--color-secondary); } }
  .social-icons__hayley li a,
  .social-icons__mick li a {
    background: var(--color-orange); }
    @media only screen and (max-width: 56.25em) {
      .social-icons__hayley li a,
      .social-icons__mick li a {
        background: var(--color-primary); } }
  .social-icons__emma li a,
  .social-icons__melanie li a {
    background: #c06c84; }
    @media only screen and (max-width: 56.25em) {
      .social-icons__emma li a,
      .social-icons__melanie li a {
        background: #fecb89; } }
  .social-icons__dan li a,
  .social-icons__kevin li a{
    background: #4f8a8b; }
    @media only screen and (max-width: 56.25em) {
      .social-icons__dan li a,
      .social-icons__kevin li a {
        background: #c06c84; } }
  .social-icons__claire li a {
    background: #fecb89; }
    @media only screen and (max-width: 56.25em) {
      .social-icons__claire li a {
        background: #4f8a8b; } }

.card:hover .social-icons li a {
  border-radius: 50%;
  transform: translateY(0px);
  opacity: 1; }

.social-icons__sanny li a:hover,
.social-icons__charlie li a:hover {
  background: #fecb89;
  transition: .1s; }
  .social-icons__sanny li a:hover .fab,
  .social-icons__charlie li a:hover .fab {
    color: var(--color-grey-light-1); }

.social-icons__katie li a:hover,
.social-icons__marie li a:hover {
  background: var(--color-secondary);
  transition: .1s; }
  .social-icons__katie li a:hover .fab,
  .social-icons__marie li a:hover .fab {
    color: var(--color-grey-light-1); }

.social-icons__hayley li a:hover,
.social-icons__mick li a:hover {
  background: var(--color-primary);
  transition: .1s; }
  .social-icons__hayley li a:hover .fab,
  .social-icons__mick li a:hover .fab {
    color: var(--color-grey-light-1); }

.social-icons__emma li a:hover,
.social-icons__melanie li a:hover {
  background: var(--color-orange);
  transition: .1s; }
  .social-icons__emma li a:hover .fab,
  .social-icons__melanie li a:hover .fab {
    color: var(--color-grey-light-1); }

.social-icons__dan li a:hover,
.social-icons__kevin li a:hover  {
  background: #c06c84;
  transition: .1s; }
  .social-icons__dan li a:hover .fab,
  .social-icons__kevin li a:hover .fab {
    color: var(--color-grey-light-1); }

.social-icons__claire li a:hover {
  background: #4f8a8b;
  transition: .1s; }
  .social-icons__claire li a:hover .fab {
    color: var(--color-grey-light-1); }

.social-icons li a .fab {
  transition: .8s; }
  .social-icons li a .fab:hover {
    transform: rotateY(360deg);
    color: #fff; }

/**** Personal Details ****/
.details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px; }
  .details span {
    display: block;
    padding: 0.4rem 0;
  }
  @media only screen and (max-width: 56.25em) {
    .details {
      height: 240px;
      top: 55%; } }
  .details__sanny, .details__charlie {
    background: var(--color-secondary); }
  .details__katie,  .details__marie {
    background: var(--color-primary); }
  .details__hayley, .details__mick {
    background: var(--color-orange); }
  .details__emma, .details__melanie {
    background: #c06c84; }
  .details__dan, .details__kevin {
    background: #4f8a8b; }
  .details__claire {
    background: #fecb89; }
  .details h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0 2rem;
    padding: 0;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .details h2 {
        margin: 5.2rem 0 2rem; } }
    .details h2 .job-title {
      font-size: 1.3rem;
      line-height: 1.2rem;
      color: #fff;
      font-weight: 200; }
      @media only screen and (max-width: 56.25em) {
        .details h2 .job-title {
          font-size: 1.15rem; } }

.media-section__container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 10rem 8rem; }
  @media only screen and (max-width: 56.25em) {
    .media-section__container {
      align-items: center;
      flex-direction: column-reverse; } }

.twitter-feed__container {
  display: flex;
  flex: 1 1 1;
  margin: 1rem; }

.twitter-feed {
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  min-width: 200px;
  max-width: 500px; }
  @media only screen and (max-width: 56.25em) {
    .twitter-feed {
      width: 600px; } }
  @media only screen and (max-height: 31.25em) {
    .twitter-feed {
      width: 80vw; } }
  @media only screen and (max-width: 35em) {
    .twitter-feed {
      width: 350px; } }
  @media only screen and (max-width: 25em) {
    .twitter-feed {
      width: 250px; } }

.shows-section {
  display: flex;
  flex: 1 1 1;
  margin: 2rem; }

.contact-section {
  padding: 8rem 2rem; }
