.listen-live__section {

  height: 40rem;
  padding: 3rem 0;
  position: relative;

  &--wrapper {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--player {
    border: 2px solid var(--color-secondary);
    height: 18rem;
    margin: 4rem 2rem;
    padding: 1rem;
    width: 70vw;

    @media only screen and (max-width: 35em) {
      margin: 4rem 0.5rem 0;
      padding: 0.5rem;
      width: 90vw; 
    }
  }

  &--link {
    color: var(--color-secondary);
    cursor: pointer;
    display: block;
    font-family: var(--font-jo);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

}




