.listen-live__section {

  height: 40rem;
  padding: 3rem 0;
  position: relative;

  &--wrapper {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--player {
    border: 2px solid var(--color-secondary);
    height: 18rem;
    margin: 4rem 2rem;
    padding: 1rem;
    width: 70vw;
  }

  &--link {
    color: var(--color-secondary);
    cursor: url("../../img/music.png"), auto;
    display: block;
    font-size: 3rem;
    text-align: center;
    text-decoration: none;
  }

}



