/* ============= Begin Testimonial Flexbox ============ */
#flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 700px;
  height: 48.5rem;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;

  @media only screen and (max-width: $bp-small) {
    min-width: 300px;
    max-width: 400px;
  }

  @media only screen and (max-width: $bp-smallest) {
    min-width: 280px;
    max-width: 320px;
  }
}

#left-zone {
  background-color: var(--color-white-1);
  height: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  width: 100%;

}

#left-zone .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.item input {
  display: none;

}

.item label {
  color: var(--color-secondary);
  display: block;
  font-family: var(--font-mo);
  font-size: 1.4rem;
  font-weight: 500;
  height: 55px;
  text-align: left;
  text-indent: 8rem;
  line-height: 55px;
  margin-top: 0.5rem;
  opacity: 0.8;
  position: relative;

  @media only screen and (max-width: $bp-small) {
    visibility: hidden;
  }

}

.item label:hover {
  cursor: pointer;
  opacity: 1;
}

.content-test {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  height: 60%;
  width: 100%;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  pointer-events: none;

  @media only screen and (max-width: $bp-small) {
    height: 100%;
  }

  &-horiz {
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }

    &-sub {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 1rem 0;
    }
  }
}



.content-test p {
  color: var(--color-grey-light-3);
  font-family: var(--font-mo);
  font-size: 1.25rem;
  line-height: 1.6;
  padding: 1rem 0;
  max-width: 60%;
  text-align: center;

  @media only screen and (max-width: $bp-small) {
    font-size: 1.15rem;
    max-width: 84%;
  }
}

.content-test h1 {
  color: var(--color-white-2);
  font-family: var(font-jo);
  text-align: center;

  @media only screen and (max-width: $bp-small) {
   font-size: 1.8rem;
  }
}

.content-test-horiz-sub p {
  max-width: 75%;

  @media only screen and (max-width: $bp-small) {
    font-size: 1.1rem;
    max-width: 88%;
  }
}

.content-test-horiz-sub h1 {
  font-size: 1.5rem;
}


#right-zone {
  // background-color: var(--color-secondary);
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  // height: 50%;
}

input:checked ~ .content-test {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  opacity: 1;
}

@media (min-width: 480px) {
  #flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: auto;
  }

  #left-zone .list {
    border-right: 2px solid #cccccc;
  }

  .content-test {
    width: 65%;
    height: 100%;
    pointer-events: auto;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  #left-zone {
    width: 35%;
  }

  #right-zone {
    height: 100%;
    width: 65%;
  }
}
/* If the screen size is 480px or less */
@media (max-width: 480px) {
  .content_testimonial-1 .picto {
    padding-top: 100px;
  }
  .content_testimonial-2 .picto {
    padding-top: 100px;
  }
  .content_testimonial-3 .picto {
    padding-top: 100px;
  }
  .content_testimonial-4 .picto {
    padding-top: 100px;
  }
  .content_testimonial-5 .picto {
    padding-top: 100px;
  }
  .content_testimonial-6 .picto {
    padding-top: 100px;
  }
  .content_testimonial-7 .picto {
    padding-top: 100px;
  }
  .item > label {
    font-size: 1.3rem;
  }
}

.picto, .picto-sub {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 3rem;
}

.content-test-horiz-sub .picto {
  height: 100px;
  width: 100px;
}

.picto-sub {
  @media only screen and (max-width: $bp-small) {
    height: 0;
    margin: 0;
    width: 0;
   }
}

.content_testimonial-1 {
  background-color: var(--color-secondary);

  & .picto {
    background-image: url("/img/sanny_transparent.png");
  }
}

.content_testimonial-2 {
  background-color: var(--color-primary);

  & .picto {
    background-image: url("/img/yoga.jpg");
  }
}

.content_testimonial-3 {
  background-color: #ba6b57;

  & .picto {
    background-image: url("/img/Katie.png");
  }
}

.content_testimonial-4 {
  background-color: var(--color-orange);

  & .picto {
    background-image: url("/img/Kev.png");
  }
}

.content_testimonial-5 {
  background-color: #fecb89;

  & .picto {
    background-image: url("/img/sanny_profile_1.JPG");
  }
}

.content_testimonial-6 {
  background-color: #4f8a8b;

  & .picto {
    background-image: url("/img/breakfast.jpg");
  }
  & .picto-sub {
    background-image: url("/img/sing.jpg");
  }
}

.content_testimonial-7 {
  background-color: #c06c84;

  & .picto {
    background-image: url("/img/stage.jpg");
  }
}



.content-test h1:first-letter {
  text-transform: uppercase;
}

input:checked ~ label {
  opacity: 1;
  -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

input:checked ~ label.label_testimonial-1 {
  color: var(--color-secondary);
  border-right: solid 4px var(--color-secondary);
}

input:checked ~ label.label_testimonial-2 {
  color: var(--color-primary);
  border-right: solid 4px var(--color-primary);
}

input:checked ~ label.label_testimonial-3 {
  color: #ba6b57;
  border-right: solid 4px #ba6b57;
}

input:checked ~ label.label_testimonial-4 {
  color: var(--color-orange);
  border-right: solid 4px var(--color-orange);
}

input:checked ~ label.label_testimonial-5 {
  color: #fecb89;
  border-right: solid 4px #fecb89;
}

input:checked ~ label.label_testimonial-6 {
  color: #4f8a8b;
  border-right: solid 4px #4f8a8b;
}

input:checked ~ label.label_testimonial-7 {
  color: #c06c84;
  border-right: solid 4px #c06c84;
}


label:before {
  content: " ";
  display: block;
  font-family: var(--font-mo);
  font-weight: 400;
  position: absolute;
  width: 45px;
  height: 45px;
  margin-left: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.label_testimonial-1:before {
  background-image: url("/img/sanny_transparent.png");
}

.label_testimonial-2:before {
  background-image: url("/img/yoga.jpg");
}

.label_testimonial-3:before {
  background-image: url("/img/Katie.png");
}

.label_testimonial-4:before {
  background-image: url("/img/Kev.png");
}

.label_testimonial-5:before {
  background-image: url("/img/sanny_profile_1.JPG");
}

.label_testimonial-6:before {
  background-image: url("/img/breakfast.jpg");
}

label.label_testimonial-7:before {
  background-image: url("/img/stage.jpg");
}

label:first-letter {
  text-transform: uppercase;
}

.label_testimonial-1:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(var(--color-secondary))
  );
  background-image: -webkit-linear-gradient(left, #ffffff, var(--color-secondary));
  background-image: -o-linear-gradient(left, #ffffff, var(--color-secondary));
  background-image: linear-gradient(to right, #ffffff, var(--color-secondary));
  font-size: 1.4rem;
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-2:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(var(--color-primary))
  );
  background-image: -webkit-linear-gradient(left, #ffffff, var(--color-primary));
  background-image: -o-linear-gradient(left, #ffffff, var(--color-primary));
  background-image: linear-gradient(to right, #ffffff, var(--color-primary));
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-3:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#ba6b57)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #ba6b57);
  background-image: -o-linear-gradient(left, #ffffff, #ba6b57);
  background-image: linear-gradient(to right, #ffffff, #ba6b57);
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-4:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(var(--color-orange))
  );
  background-image: -webkit-linear-gradient(left, #ffffff, var(--color-orange));
  background-image: -o-linear-gradient(left, #ffffff, var(--color-orange));
  background-image: linear-gradient(to right, #ffffff, var(--color-orange));
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-5:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#fecb89)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #fecb89);
  background-image: -o-linear-gradient(left, #ffffff, #fecb89);
  background-image: linear-gradient(to right, #ffffff, #fecb89);
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-6:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#4f8a8b)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #4f8a8b);
  background-image: -o-linear-gradient(left, #ffffff, #4f8a8b);
  background-image: linear-gradient(to right, #ffffff, #4f8a8b);
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.label_testimonial-7:hover {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffffff),
    to(#c06c84#c06c84)
  );
  background-image: -webkit-linear-gradient(left, #ffffff, #c06c84);
  background-image: -o-linear-gradient(left, #ffffff, #c06c84);
  background-image: linear-gradient(to right, #ffffff, #c06c84);
  -webkit-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}


/* ============== End Testimonial Flexbox ============= */
