.heading-primary {
  backface-visibility: hidden;
  margin-bottom: 5rem;
  text-transform: uppercase;

  &--main {
    animation: moveInLeft 1s ease-out;
    display: block;
    font-family: var(--font-mo);
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }

  &--sub {
    animation: moveInRight 1s ease-out;
    display: block;
    font-family: var(--font-mo);
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    line-height: 2;
  }

}

.footer-primary {
  backface-visibility: hidden;
  text-transform: uppercase;

  &--main {
    display: block;
    font-family: var(--font-mo);
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    position: relative;
  }

  &--sub {
    display: block;
    font-family: var(--font-mo);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    line-height: 2;
  }

}

.section-heading {
  color: var(--color-secondary);
  display: block;
  font-family: var(--font-jo);
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}