.header {
  background-image: linear-gradient(to right bottom, 
  rgba(#8ec6c5, 0.70), 
  rgba(#6983aa, 0.70)), 
  url(../../img/hero_5.jpg);
  background-position: center;
  background-size: cover;
  height: 92vh;
  position: relative;

  @media only screen and (max-width: $bp-smallest) {
    height: 95vh;
    margin: 12px;
  }

  &__text-box {
    @include absCenter;
    text-align: center;
    width: 100%;

    @media only screen and (max-width: $bp-medium) {
      top: 42%;
    }

    @media only screen and (max-width: $bp-small) {
      top: 38%;
    }
  }

  &__buttons {
    left: 50%;
    padding: 0 3rem;
    position: absolute;
    top: 120%;
    transform: translate(-50%, -50%);
    width: 100%;

    @media only screen and (max-width: $bp-medium) {
      top: 110%;
    }

    @media only screen and (max-width: $bp-small) {
      margin-top: 2rem;
      top: 100%;
    }

    @media only screen and (max-width: $bp-smallest) {
      top: 90%;
    }
  }

  &__logo-box {
    left: 37%;
    position: absolute;
    top: 62%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__logo-home {
    position: relative;
  }


  &__logo {
    height: 6rem; 

    @media only screen and (max-width: $bp-small) {
      height: 3.5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      height: 3rem;
    }
  }

  &__social-icons {

    position: absolute;
    top: 164%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    @media only screen and (max-width: $bp-large) {
      top: 150%;
    }

    @media only screen and (max-width: $bp-medium) {
      top: 160%;
    }

    @media only screen and (max-width: $bp-small) {
      top: 150%;
    }

    @media only screen and (max-width: $bp-smallest) {
      top: 140%;
    }

    li {
      list-style: none;
      
      a {
        background-color: var(--color-orange);
        border-radius: 50%;
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 23px;
        color: #fff;
        font-weight: bold;
        margin: 0 1rem;
        opacity: 0.8;

        @media only screen and (max-width: $bp-small) {
          font-size: 1.5rem;
          height: 40px;
          line-height: 40px;
          opacity: 1;
          width: 40px;
        }

        @media only screen and (max-width: $bp-smallest) {
          font-size: 1.5rem;
          height: 35px;
          line-height: 35px;
          opacity: 1;
          width: 35px;
        }

          &:hover {
            background-color: var(--color-orange-bright);
            opacity: 1;
          }

          .fab {
            transition: .8s;

            &:hover {
              transform: rotateY(360deg);
              color: #fff;
            }
          }
      } 
    }
  }
}



.card:hover .social-icons li a {
  border-radius: 50%;
  transform: translateY(0px);
  opacity: 1; 
}

.social-icons li a:hover {
  background: var(--color-orange);
  transition: .1s;
  .fab {
    color: var(--color-grey-light-1);
  } 
}

