.header {
  background-image: linear-gradient(to right bottom, 
  rgba(#8ec6c5, 0.70), 
  rgba(#6983aa, 0.70)), 
  url(../../img/hero_1.jpg);
  background-position: center;
  background-size: cover;
  height: 92vh;
  position: relative;

  &__text-box {
    @include absCenter;
    text-align: center;
  }

  &__logo-box {
    left: 88%;
    position: absolute;
    top: 32%;
    z-index: 2;
  }

  &__logo {
    height: 6rem; 
  }

}